# Resource file for the generator
#
# 
version: 0.4.1 # current version of meta-configuration files
support_version: 0.4 # back support - major version

Header:
    intro: Control file for Meep calculations of SSPP waveguides
    gendata: 
        header: "Generated: "
        base: "Based on "
    complexity: "(set-param! force-complex-fields? %s)"

Code:
    geometry: (set! geometry-lattice (make lattice (size %s %s %s) ) ) # totlen totwidth zheight (default = no-size)
    geometry_head: (set! geometry (list
    geometry_tail: ))

    block_head: (make block
    block_position: (center %s %s) (size %s %s %s) # (x_pos, y_pos) (x_size, y_size, z_size (default = infinity))
    block_metal: (material (make medium (epsilon %s) (D-conductivity %s) ))
    # block_metal: (material (make dielectric (epsilon 2) ))
    block_dielectric: (material (make dielectric (epsilon %s)  ))
    block_tail: )

    sources_head: (set! sources (list
    source_head: (make source 
    source_types:
        pulse: (src (make gaussian-src (frequency %s) (fwidth %s) )) # central, width
        continuous: (src (make continuous-src (frequency %s) (fwidth %s) ))
    source_component: (component %s) # (Ex, ..., Hx ...)
    source_position: (center %s %s) (size %s %s %s) # see block_position above
    source_tail: )
    sources_tail: ))

    pml: (set! pml-layers (list (make pml (thickness 1.0)) ))

    resolution: (set! resolution %s)

    time_decay: (run-sources+ (stop-when-fields-decayed %s Ez (vector3 %s %s ) 1e-3 ) (at-beginning output-epsilon)  # dT, position, 
    time_fixed: (run-until %s (at-beginning output-epsilon) # duration
    time_tail: ) 

    snapshot: (to-appended "%s" (at-every %s output-%sfield-%s)) # fname, step, field, component

    field_local: (to-appended "%s" (at-every %s (in-volume (volume (center %s %s) (size 0) ) output-%sfield-%s) )) #fname, step, pos_x, pos_y, field (E|H), component (x|y|z)

    flux_head: "(define trans%s "  # hence trans is the standard prefix (space is added for prettyness)
    flux_prop: (add-flux %s %s %s # frequencies: center width number_of_points
    flux_position: (make flux-region (center %s %s) (size %s %s %s) ) # (,) (, , z_size (default = 0))
    flux_tail: ))

    fluxes_head: (display-fluxes
    fluxes_tail: )

    function_head: "(define %s " # generic function head %s <- name of the function
    function_tail: )

 
